@media screen and (min-width : 1848px) {
    body {
        width : 70%;
    }
}

#day1 {
    left : 390px;
}

#day2 {
    left : 410px;
    top  : 280px;
}

#day3 {
    left : 320px;
    top  : 250px;
}

#day4 {
    left : 269px;
    top  : 360px;
}

#day5 {
    left : 350px;
    top  : 160px;
}

#day6 {
    left : 120px;
    top  : 700px;
}

#day7 {
    left : 220px;
    top  : 540px;
}

#day8 {
    left : 195px;
    top  : 622px;
}

#day9 {
    left : 350px;
    top  : 388px;
}

#day10 {
    left : 409px;
    top  : 531px;
}

#day11 {
    left : 535px;
    top  : 763px;
}

#day12 {
    left : 525px;
    top  : 640px;
}

#day13 {
    left : 425px;
    top  : 410px;
}

#day14 {
    left : 555px;
    top  : 350px;
}

#day15 {
    left : 249px;
    top  : 760px;
}

#day16 {
    left : 732px;
    top  : 784px;
}

#day18 {
    left : 1130px;
    top  : 100px;
}

#day19 {
    left : 650px;
    top  : 700px;
}

#day20 {
    left : 480px;
    top  : 210px;
}

#day21 {
    left : 315px;
    top  : 606px;
}

#day22 {
    left : 555px;
    top  : 490px;
}

#day23 {
    left : 400px;
    top  : 670px;
}

#day24 {
    left : 101px;
    top  : 780px;
}

#day25 {
    left : 1180px;
    top  : 0px;
}

footer {
    top : 860px;
}

body, footer {
    margin : auto;
}

body {
    position              : relative;
    background            : no-repeat;
	background-image      : url('../../../../../Adventskalender/Resources/Public/Images/ChristmasTree.jpg');
    background-size       : 70%;
    background-color      : rgb(0, 0, 52);
    background-position   : center top;
}

h2, footer {
    color            : lightgreen;
    background-color : rgb(0, 0, 52);
}

.normalWindows {
	height : 58px;
	width  : 58px;
}

.normalWindows, #day18, #day25, footer {
	position : absolute;
}

#day18 {
    height : 40px;
    width  : 40px;
}

#day25 {
    height : 110px;
    width  : 110px;
}
