@media screen and (min-width : 800px) and (max-width : 933px) {
    body {
        width               : 100%;
        position            : relative;
        background          : no-repeat;
        background-image    : url('../../../../../Adventskalender/Resources/Public/Images/ChristmasTree.jpg');
        background-size     : 100%;
        background-position : center top;
    }
	
	.normalWindows {
		height : 40px;
		width  : 40px;
	}
	
	#day1 {
		left : 245px;
	}
	
	#day2 {
		left : 150px;
	}
	
	#day5 {
		left : 320px;
	}
	
	#day6 {
		top : 390px;
	}
	
	#day7 {
		top  : 285px;
	}
	
	#day8 {
		top  : 390px;
	}
	
	#day10 {
		top  : 360px;
	}
	
	#day11 {
		left : 215px;
		top  : 145px;
	}
	
	#day12 {
		left : 260px;
		top  : 130px;
	}
	
	#day14 {
		left : 150px;
	}
	
	#day15, #day16, #day23, #day24 {
		top : 455px;
	}
	
	#day16 {
		left : 180px;
	}
	
	#day18 {
		left : 650px;
	}
	
	#day19 {
		left : 300px;
	}
	
	#day19, #day22 {
		top  : 460px;
	}
	
	#day20 {
		left : 225px;
	}
	
	#day21 {
		top  : 315px;
	}
	
	#day22 {
		left : 450px;
	}

	#day25 {
		left   : 700px;
		height : 80px;
		width  : 80px;
	}
	
	footer {
		top    : 515px;
		height : 75px;
	}
}

@media screen and (min-width : 934px) and (max-width : 1079px) {
    body {
        width               : 100%;
        position            : relative;
        background          : no-repeat;
        background-image    : url('../../../../../Adventskalender/Resources/Public/Images/ChristmasTree.jpg');
        background-size     : 100%;
        background-position : center top;
    }
	
	.normalWindows {
		height : 58px;
		width  : 58px;
	}
	
	#day1 {
		left : 300px;
	}
	
	#day2 {
		left : 410px;
	}
	
	#day5 {
		left : 350px;
	}
	
	#day6 {
		top : 435px;
	}
	
	#day7 {
		top  : 285px;
	}
	
	#day8 {
		top  : 390px;
	}
	
	#day10 {
		top  : 345px;
	}
	
	#day11 {
		left : 535px;
	}
	
	#day12 {
		left : 260px;
		top  : 130px;
	}
	
	#day14 {
		left : 150px;
	}
	
	#day16 {
		left : 180px;
	}
	
	#day18 {
		left : 760px;
	}
	
	#day19 {
		left : 300px;
		top  : 460px;
	}
	
	#day20 {
		left : 225px;
	}
	
	#day21 {
		top  : 315px;
	}
	
	#day11, #day15, #day16, #day23, #day24 {
		top : 530px;
	}
	
	#day22 {
		left : 465px;
		top  : 490px;
	}

	#day25 {
		left   : 810px;
		height : 110px;
		width  : 110px;
	}
	
	footer {
		top    : 625px;
		height : 75px;
	}
}

@media screen and (min-width : 1080px) and (max-width : 1225px) {
    body {
        width               : 100%;
        position            : relative;
        background          : no-repeat;
        background-image    : url('../../../../../Adventskalender/Resources/Public/Images/ChristmasTree.jpg');
        background-size     : 100%;
        background-position : center top;
    }
	
	.normalWindows {
		height : 58px;
		width  : 58px;
	}
	
	#day1 {
		left : 330px;
	}
	
	#day2 {
		left : 410px;
	}
	
	#day5 {
		left : 350px;
	}
	
	#day6 {
		top : 540px;
	}
	
	#day7 {
		top  : 540px;
	}
	
	#day8 {
		top  : 390px;
	}
	
	#day10 {
		top  : 531px;
	}
	
	#day11 {
		left : 535px;
	}
	
	#day12 {
		left : 250px;
		top  : 220px;
	}
	
	#day14 {
		left : 480px;
	}
	
	#day16 {
		left : 600px;
	}
	
	#day18 {
		left : 905px;
	}
	
	#day19 {
		left : 300px;
		top  : 460px;
	}
	
	#day20 {
		left : 420px;
	}
	
	#day21 {
		top  : 606px;
	}
	
	#day22 {
		left : 555px;
		top  : 490px;
	}
	
	#day11, #day15, #day16, #day23, #day24 {
		top : 620px;
	}

	#day25 {
		left   : 955px;
		height : 110px;
		width  : 110px;
	}
	
	footer {
		top : 710px;
	}
}

@media screen and (min-width : 1226px) and (max-width : 1261px) {
    body {
        width               : 100%;
        position            : relative;
        background          : no-repeat;
        background-image    : url('../../../../../Adventskalender/Resources/Public/Images/ChristmasTree.jpg');
        background-size     : 100%;
        background-position : center top;
    }
	
	.normalWindows {
		height : 58px;
		width  : 58px;
	}
	
	#day1 {
		left : 390px;
	}
	
	#day2 {
		left : 410px;
	}
	
	#day5 {
		left : 350px;
	}
	
	#day6 {
		top : 640px;
	}
	
	#day7 {
		top  : 540px;
	}
	
	#day8 {
		top  : 622px;
	}
	
	#day10 {
		top  : 531px;
	}
	
	#day11 {
		left : 535px;
	}
	
	#day12 {
		left : 525px;
		top  : 640px;
	}
	
	#day14 {
		left : 535px;
	}
	
	#day16 {
		left : 680px;
	}
	
	#day18 {
		left : 1050px;
	}
	
	#day19 {
		left : 300px;
		top  : 460px;
	}
	
	#day20 {
		left : 450px;
	}
	
	#day21 {
		top  : 606px;
	}
	
	#day11, #day15, #day16, #day24 {
		top : 720px;
	}
	
	#day22 {
		left : 555px;
		top  : 490px;
	}
	
	#day23 {
		top  : 670px;
	}

	#day25 {
		left   : 1100px;
		height : 110px;
		width  : 110px;
	}
	
	footer {
		top : 820px;
	}
}

@media screen and (min-width : 1262px) and (max-width : 1347px) {
    body {
        width               : 100%;
        position            : relative;
        background          : no-repeat;
        background-image    : url('../../../../../Adventskalender/Resources/Public/Images/ChristmasTree.jpg');
        background-size     : 100%;
        background-position : center top;
    }
	
	.normalWindows {
		height : 58px;
		width  : 58px;
	}
	
	#day1 {
		left : 390px;
	}
	
	#day2 {
		left : 410px;
	}
	
	#day5 {
		left : 350px;
	}
	
	#day6 {
		top : 670px;
	}
	
	#day7 {
		top  : 540px;
	}
	
	#day8 {
		top  : 622px;
	}
	
	#day10 {
		top  : 531px;
	}
	
	#day11 {
		left : 535px;
	}
	
	#day12 {
		left : 525px;
		top  : 640px;
	}
	
	#day14 {
		left : 555px;
	}
	
	#day16 {
		left : 710px;
	}
	
	#day18 {
		left : 1050px;
	}
	
	#day19 {
		left : 650px;
		top  : 700px;
	}
	
	#day20 {
		left : 480px;
	}
	
	#day21 {
		top  : 606px;
	}
	
	#day22 {
		left : 555px;
		top  : 490px;
	}
	
	#day23 {
		top  : 670px;
	}
	
	#day11, #day15, #day16, #day24 {
		top : 750px;
	}

	#day25 {
		left   : 1100px;
		height : 110px;
		width  : 110px;
	}
	
	footer {
		top : 820px;
	}
}

@media screen and (min-width : 1348px) and (max-width : 1450px) {
    body {
        width               : 95%;
        position            : relative;
        background          : no-repeat;
        background-image    : url('../../../../../Adventskalender/Resources/Public/Images/ChristmasTree.jpg');
        background-size     : 95%;
        background-position : center top;
    }
	
	.normalWindows {
		height : 58px;
		width  : 58px;
	}
	
	#day1 {
		left : 390px;
	}
	
	#day2 {
		left : 410px;
	}
	
	#day5 {
		left : 350px;
	}
	
	#day6 {
		top : 690px;
	}
	
	#day7 {
		top  : 540px;
	}
	
	#day8 {
		top  : 622px;
	}
	
	#day10 {
		top  : 531px;
	}
	
	#day11 {
		left : 535px;
		top  : 763px;
	}
	
	#day12 {
		left : 525px;
		top  : 640px;
	}
	
	#day14 {
		left : 555px;
	}
	
	#day15 {
		top : 760px;
	}

	#day16 {
		left : 732px;
		top  : 754px;
	}
	
	#day18 {
		left : 1100px;
	}
	
	#day19 {
		left : 650px;
		top  : 700px;
	}
	
	#day20 {
		left : 480px;
	}
	
	#day21 {
		top  : 606px;
	}
	
	#day22 {
		left : 555px;
		top  : 490px;
	}
	
	#day23 {
		top  : 670px;
	}
	
	#day24 {
		top : 765px;
	}
	
	#day25 {
		left   : 1150px;
		height : 110px;
		width  : 110px;
	}
	
	footer {
		top : 825px;
	}
}

@media screen and (min-width : 1451px) and (max-width : 1550px) {
    body {
        width               : 90%;
        position            : relative;
        background          : no-repeat;
        background-image    : url('../../../../../Adventskalender/Resources/Public/Images/ChristmasTree.jpg');
        background-size     : 90%;
        background-position : center top;
    }
	
	.normalWindows {
		height : 58px;
		width  : 58px;
	}
	
	#day1 {
		left : 390px;
	}
	
	#day2 {
		left : 410px;
	}
	
	#day5 {
		left : 350px;
	}
	
	#day6 {
		top : 690px;
	}
	
	#day7 {
		top  : 540px;
	}
	
	#day8 {
		top  : 622px;
	}
	
	#day10 {
		top  : 531px;
	}
	
	#day11 {
		left : 535px;
		top  : 763px;
	}
	
	#day12 {
		left : 525px;
		top  : 640px;
	}
	
	#day14 {
		left : 555px;
	}
	
	#day15 {
		top : 760px;
	}

	#day16 {
		left : 732px;
		top  : 754px;
	}
	
	#day18 {
		left : 1125px;
	}
	
	#day19 {
		left : 650px;
		top  : 700px;
	}
	
	#day20 {
		left : 480px;
	}
	
	#day21 {
		top  : 606px;
	}
	
	#day22 {
		left : 555px;
		top  : 490px;
	}
	
	#day23 {
		top  : 670px;
	}
	
	#day24 {
		top : 765px;
	}
	
	#day25 {
		left   : 1175px;
		height : 110px;
		width  : 110px;
	}
	
	footer {
		top : 825px;
	}
}

@media screen and (min-width : 1551px) and (max-width : 1634px) {
    body {
        width               : 85%;
        position            : relative;
        background          : no-repeat;
        background-image    : url('../../../../../Adventskalender/Resources/Public/Images/ChristmasTree.jpg');
        background-size     : 90%;
        background-position : center top;
    }
	
	.normalWindows {
		height : 58px;
		width  : 58px;
	}
	
	#day1 {
		left : 390px;
	}
	
	#day2 {
		left : 410px;
	}
	
	#day5 {
		left : 350px;
	}
	
	#day6 {
		top : 690px;
	}
	
	#day7 {
		top  : 540px;
	}
	
	#day8 {
		top  : 622px;
	}
	
	#day10 {
		top  : 531px;
	}
	
	#day11 {
		left : 535px;
		top  : 763px;
	}
	
	#day12 {
		left : 525px;
		top  : 640px;
	}
	
	#day14 {
		left : 555px;
	}
	
	#day15 {
		top : 760px;
	}

	#day16 {
		left : 732px;
		top  : 754px;
	}
	
	#day18 {
		left : 1125px;
	}
	
	#day19 {
		left : 650px;
		top  : 700px;
	}
	
	#day20 {
		left : 480px;
	}
	
	#day21 {
		top  : 606px;
	}
	
	#day22 {
		left : 555px;
		top  : 490px;
	}
	
	#day23 {
		top  : 670px;
	}
	
	#day24 {
		top : 765px;
	}
	
	#day25 {
		left   : 1175px;
		height : 110px;
		width  : 110px;
	}
	
	footer {
		top : 825px;
	}
}

@media screen and (min-width : 1635px) and (max-width : 1743px) {
    body {
        width               : 80%;
        position            : relative;
        background          : no-repeat;
        background-image    : url('../../../../../Adventskalender/Resources/Public/Images/ChristmasTree.jpg');
        background-size     : 80%;
        background-position : center top;
    }
	
	.normalWindows {
		height : 58px;
		width  : 58px;
	}
	
	#day1 {
		left : 390px;
	}
	
	#day2 {
		left : 410px;
	}
	
	#day5 {
		left : 350px;
	}
	
	#day6 {
		top : 700px;
	}
	
	#day7 {
		top  : 540px;
	}
	
	#day8 {
		top  : 622px;
	}
	
	#day10 {
		top  : 531px;
	}
	
	#day11 {
		left : 535px;
		top  : 763px;
	}
	
	#day12 {
		left : 525px;
		top  : 640px;
	}
	
	#day14 {
		left : 555px;
	}
	
	#day15 {
		top : 760px;
	}

	#day16 {
		left : 732px;
		top  : 784px;
	}
	
	#day18 {
		left : 1130px;
	}
	
	#day19 {
		left : 650px;
		top  : 700px;
	}
	
	#day20 {
		left : 480px;
	}
	
	#day21 {
		top  : 606px;
	}
	
	#day22 {
		left : 555px;
		top  : 490px;
	}
	
	#day23 {
		top  : 670px;
	}
	
	#day24 {
		top : 780px;
	}
	
	#day25 {
		left   : 1180px;
		height : 110px;
		width  : 110px;
	}
	
	footer {
		top : 860px;
	}
}

@media screen and (min-width : 1744px) and (max-width : 1847px) {
    body {
        width               : 75%;
        position            : relative;
        background          : no-repeat;
        background-image    : url('../../../../../Adventskalender/Resources/Public/Images/ChristmasTree.jpg');
        background-size     : 75%;
        background-position : center top;
    }
	
	.normalWindows {
		height : 58px;
		width  : 58px;
	}
	
	#day1 {
		left : 390px;
	}
	
	#day2 {
		left : 410px;
	}
	
	#day5 {
		left : 350px;
	}
	
	#day6 {
		top : 700px;
	}
	
	#day7 {
		top  : 540px;
	}
	
	#day8 {
		top  : 622px;
	}
	
	#day10 {
		top  : 531px;
	}
	
	#day11 {
		left : 535px;
		top  : 763px;
	}
	
	#day12 {
		left : 525px;
		top  : 640px;
	}
	
	#day14 {
		left : 555px;
	}
	
	#day15 {
		top : 760px;
	}

	#day16 {
		left : 732px;
		top  : 784px;
	}
	
	#day18 {
		left : 1130px;
	}
	
	#day19 {
		left : 650px;
		top  : 700px;
	}
	
	#day20 {
		left : 480px;
	}
	
	#day21 {
		top  : 606px;
	}
	
	#day22 {
		left : 555px;
		top  : 490px;
	}
	
	#day23 {
		top  : 670px;
	}
	
	#day24 {
		top : 780px;
	}
	
	#day25 {
		left   : 1180px;
		height : 110px;
		width  : 110px;
	}
	
	footer {
		top : 860px;
	}
}

@media screen and (min-width : 1848px) {
    body {
        width               : 70%;
        position            : relative;
        background          : no-repeat;
        background-image    : url('../../../../../Adventskalender/Resources/Public/Images/ChristmasTree.jpg');
        background-size     : 70%;
        background-position : center top;
    }
	
	.normalWindows {
		height : 58px;
		width  : 58px;
	}
	
	#day1 {
		left : 390px;
	}
	
	#day2 {
		left : 410px;
	}
	
	#day5 {
		left : 350px;
	}
	
	#day6 {
		top : 700px;
	}
	
	#day7 {
		top  : 540px;
	}
	
	#day8 {
		top  : 622px;
	}
	
	#day10 {
		top  : 531px;
	}
	
	#day11 {
		left : 535px;
		top  : 763px;
	}
	
	#day12 {
		left : 525px;
		top  : 640px;
	}
	
	#day14 {
		left : 555px;
	}
	
	#day15 {
		top : 760px;
	}

	#day16 {
		left : 732px;
		top  : 784px;
	}
	
	#day18 {
		left : 1130px;
	}
	
	#day19 {
		left : 650px;
		top  : 700px;
	}
	
	#day20 {
		left : 480px;
	}
	
	#day21 {
		top  : 606px;
	}
	
	#day22 {
		left : 555px;
		top  : 490px;
	}
	
	#day23 {
		top  : 670px;
	}
	
	#day24 {
		top : 780px;
	}
	
	#day25 {
		left   : 1180px;
		height : 110px;
		width  : 110px;
	}
	
	footer {
		top : 860px;
	}
}

body, footer {
    margin           : auto;
	background-color : rgb(0, 0, 52);
}

h2, footer {
    color            : lightgreen;
    background-color : rgb(0, 0, 52);
}

.normalWindows, #day18, #day25, footer {
	position : absolute;
}

#day2 {
    top  : 280px;
}

#day3 {
    left : 320px;
    top  : 250px;
}

#day4 {
    left : 269px;
    top  : 360px;
}

#day5 {
    top  : 160px;
}

#day6 {
    left : 120px;
}

#day7 {
    left : 220px;
}

#day8 {
    left : 195px;
}

#day9 {
    left : 350px;
    top  : 388px;
}

#day10 {
    left : 409px;
}

#day13 {
    left : 425px;
    top  : 410px;
}

#day14 {
    top  : 350px;
}

#day15 {
    left : 249px;
}

#day18 {
    top    : 100px;
	height : 40px;
    width  : 40px;
}

#day20 {
    top  : 210px;
}

#day21 {
    left : 315px;
}

#day23 {
    left : 400px;
}

#day24 {
    left : 101px;
}

#day25 {
    top    : 0px;
}
