body {
    background       : no-repeat;
	background-image : url('../../../../../Adventskalender/Resources/Public/Images/ChristmasTree.jpg');
    background-size  : cover;
    background-color : rgb(0, 0, 52);
}

h2 {
    color : lightgreen;
}

.normalWindows {
	height : 58px;
	width  : 58px;
}

#day1, #day2, #day3, #day4, #day5, #day6, #day7, #day8, #day9 ,#day10, #day11, #day12, #day13, #day14, #day15, #day16, #day17, #day18, #day19, #day20, #day21, #day22, #day23, #day24, #day25, footer {
	position : relative;
}

#day1 {
	left : 320px;
	top  : 0px;
}

#day2 {
	left : 360px;
	top  : 150px;
}

#day3 {
	left : 150px;
	top  : 200px;
}

#day4 {
	left : 39px;
	top  : 290px;
}

#day5 {
    left : 95px;
    top  : 80px;
}

#day6 {
    left : 95px;
    top  : 650px;
}

#day7 {
    left : 0px;
    top  : 400px;
}

#day8 {
    left : 95px;
    top  : 512px;
}

#day9 {
    left : 0px;
    top  : 268px;
}

#day10 {
    left : -289px;
    top  : 441px;
}

#day11 {
    left : 95px;
    top  : 80px;
}

#day12 {
    left : 95px;
    top  : 80px;
}

#day13 {
    left : 95px;
    top  : 80px;
}

#day14 {
    left : 95px;
    top  : 80px;
}

#day15 {
    left : 95px;
    top  : 80px;
}

#day16 {
    left : 95px;
    top  : 80px;
}

#day17 {
    left : 95px;
    top  : 80px;
}

#day18 {
    left : 95px;
    top  : 80px;
}

#day19 {
    left : 95px;
    top  : 80px;
}

#day20 {
    left : 95px;
    top  : 80px;
}

#day21 {
    left : 95px;
    top  : 80px;
}

#day22 {
    left : 95px;
    top  : 80px;
}

#day23 {
    left : 95px;
    top  : 80px;
}

#day24 {
    left : 95px;
    top  : 80px;
}

#day25 {
    left : 95px;
    top  : 80px;
}

footer {
	color            : lightgreen;
	background-color : rgb(0, 0, 52);
	top              : 600px;
}

#creativeCommonsImage {
	border-width : 0;
	height       : 17px;
}
