<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <title>Adventskalender</title>
    <link href='../../../../Adventskalender/Resources/Public/StyleSheets/App.css' type='text/css' rel='stylesheet'>
</head>
<body onload='arrangeCalendar()'>
    <h2>#message#</h2>
	<img src="#1#" alt='bauble' id='day1' class='normalWindows'>
	<img src="#2#" alt='dove' id='day2' class='normalWindows'>
	<img src="#3#" alt='tree' id='day3' class='normalWindows'>
	<img src="#4#" alt='bow' id='day4' class='normalWindows'>
	<img src="#5#" alt='bells' id='day5' class='normalWindows'>
	<img src="#6#" alt='present' id='day6' class='normalWindows'>
	<img src="#7#" alt='candles' id='day7' class='normalWindows'>
	<img src="#8#" alt='candy cane' id='day8' class='normalWindows'>
	<img src="#9#" alt='stocking' id='day9' class='normalWindows'>
	<img src="#10#" alt='wreath' id='day10' class='normalWindows'>
	<img src="#11#" alt='angel' id='day11' class='normalWindows'>
	<img src="#12#" alt='snowman' id='day12' class='normalWindows'>
	<img src="#13#" alt='Santa' id='day13' class='normalWindows'>
	<img src="#14#" alt='gingerbread man' id='day14' class='normalWindows'>
	<img src="#15#" alt='Rudolph' id='day15' class='normalWindows'>
	<img src="#16#" alt='teddy' id='day16' class='normalWindows'>
	<img src="#17#" alt='snowflake' id='day17' class='normalWindows'>
	<img src="#18#" alt='small star' id='day18'>
	<img src="#19#" alt='heart' id='day19' class='normalWindows'>
	<img src="#20#" alt='present' id='day20' class='normalWindows'>
	<img src="#21#" alt='bauble' id='day21' class='normalWindows'>
	<img src="#22#" alt='bell' id='day22' class='normalWindows'>
	<img src="#23#" alt='girl' id='day23' class='normalWindows'>
	<img src="#24#" alt='marbles' id='day24' class='normalWindows'>
	<img src="#25#" alt='big star' id='day25'>
	<audio muted autoplay>
		<source src='../../../../Adventskalender/Resources/Public/Audio/JingleBells.mp3' type='audio/mpeg'>
	</audio>
    <footer>
		Picture by Tim Mossholder (
        <a href='https://pixnio.com/'>PIXNIO.com</a>
        ). Icons by Creative Tail [CC BY 4.0], petercui (Bide Cui), tatiana 
        <a href='https://sftextures.com/'>SF Textures</a>
        ), Zeus Box (
        <a href='http://www.zeusboxstudio.com/'>Kuswanto</a>
        ), HelioS1, Iconshock and Pedro1267 (own work) [
        <a href='http://www.gnu.org/copyleft/fdl.html'>GFDL</a>
        or CC BY-SA 4.0-3.0-2.5-2.0-1.0] (
        <a href='https://commons.wikimedia.org/wiki/Main_Page'>Wikimedia Commons</a>
        ). Music from 
        <a href='http://www.amclassical.com/'>A-M Classical</a>
        .
	</footer>
    <script src='../../../../Adventskalender/Resources/Public/Javascript/Displayer.js'></script>
</body>
</html>