<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <title>Adventskalender</title>
    <link href='../../../../Adventskalender/Resources/Public/StyleSheets/App.css' type='text/css' rel='stylesheet'>
</head>
<body onload='checkAvailability()'>
    <h2>#message#</h2>
	<img src="#1#" alt='bauble' id='day1' class='normalWindows'>
	<img src="#2#" alt='dove' id='day2' class='normalWindows'>
	<img src='' alt='' id='day3' class='normalWindows'>
	<img src='' alt='' id='day4' class='normalWindows'>
	<img src='' alt='' id='day5' class='normalWindows'>
	<img src='' alt='' id='day6' class='normalWindows'>
	<img src='' alt='' id='day7' class='normalWindows'>
	<img src='' alt='' id='day8' class='normalWindows'>
	<img src='' alt='' id='day9' class='normalWindows'>
	<img src='' alt='' id='day10' class='normalWindows'>
	<img src='' alt='' id='day11' class='normalWindows'>
	<img src='' alt='' id='day12' class='normalWindows'>
	<img src='' alt='' id='day13' class='normalWindows'>
	<img src='' alt='' id='day14' class='normalWindows'>
	<img src='' alt='' id='day15' class='normalWindows'>
	<img src='' alt='' id='day16' class='normalWindows'>
	<img src='' alt='' id='day17' class='normalWindows'>
	<img src='' alt='' id='day18' class='normalWindows'>
	<img src='' alt='' id='day19' class='normalWindows'>
	<img src='' alt='' id='day20' class='normalWindows'>
	<img src='' alt='' id='day21' class='normalWindows'>
	<img src='' alt='' id='day22' class='normalWindows'>
	<img src='' alt='' id='day23' class='normalWindows'>
	<img src='' alt='' id='day24' class='normalWindows'>
	<img src='' alt='' id='day25' class='normalWindows'>
	<audio muted autoplay>
		<source src='../../../../Adventskalender/Resources/Public/Audio/JingleBells.mp3' type='audio/mpeg'>
	</audio>
    <footer>
		Picture by Tim Mossholder (<a href='https://pixnio.com/'>PIXNIO.com</a>).
		Dove icon by Creative Tail 
		<a rel='license' href='http://creativecommons.org/licenses/by/4.0/'>
			<img alt='Creative Commons License' id='creativeCommonsImage' src='https://i.creativecommons.org/l/by/4.0/88x31.png' />
		</a>. This work is licensed under a 
		<a rel='license" href="http://creativecommons.org/licenses/by/4.0/'>
			Creative Commons Attribution 4.0 International License
		</a>
		. Other icons by petercui (Bide Cui) (<a href='https://commons.wikimedia.org/wiki/Main_Page'>Wikimedia Commons</a>).
		Music from <a href='http://www.amclassical.com/'>A-M Classical</a>.
	</footer>
    <script src='../../../../Adventskalender/Resources/Public/Javascript/Displayer.js'></script>
</body>
</html>